<app-loading *ngIf="loading" />

<div class="title">
    <h4>Alunos</h4>
</div>

<div class="card mt-4">

    <div id="input-container">
        <div class="input-filter">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input matInput (keyup)="applyFilter($event)" id="input" #input placeholder="Buscar...">
        </div>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="box-shadow: none;">

        <ng-container matColumnDef="Código">
            <th mat-header-cell *matHeaderCellDef> Data Criação </th>
            <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
        </ng-container>

        <ng-container matColumnDef="Aluno">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.aluno}} </td>
        </ng-container>

        <ng-container matColumnDef="Cursos">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.cursos}} </td>
        </ng-container>

        <ng-container matColumnDef="setting">
            <th mat-header-cell *matHeaderCellDef> <span style="margin-left: 0.35rem;"><i
                        class="fa-solid fa-gear"></i></span> </th>
            <td mat-cell *matCellDef="let element">

                <button [matMenuTriggerFor]="menu" id="btn-menu">
                    <span class="">⁝</span>
                </button>

                <mat-menu #menu="matMenu" id="dropDown-menu">
                    <button (click)=" showModal()" style="text-align: center;" class="btn-menu" mat-menu-item><span
                            style="font-size: 10pt;">Ver</span></button>
                </mat-menu>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


        <tr class="mat-row" style="height: auto; width: 100%; text-align: center;" *matNoDataRow>
            <td class="mat-cell" style="margin-top: 10px;" colspan="5">Informação não encontrada!</td>
        </tr>


    </table>

    <div id="paginator"
        style="height: auto; width: 100%; display: flex; align-items: center; justify-content: center; margin-top: 1rem; background: var(--background-primary);">
        <mat-paginator style="background: var(--background-primary);" [pageSizeOptions]="[3, 6, 9]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>

</div>

<div class="card flex justify-content-center">
    <p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="false">

        <div class="card-placeholder" *ngIf="placeholder">
            <div class="card__skeleton card__photo"></div>
            <div class="card__skeleton card__title mt-4"></div>
            <div class="card__skeleton card__description"></div>
            <div class="card__skeleton card__description mt-3"></div>
            <div class="card__skeleton card__description mt-3"></div>
        </div>

        <div class="content" *ngIf="content">
            <div class="header-phofile">
                <div class="photo">
                    <img src="https://i.pinimg.com/236x/4c/20/2b/4c202b6376037a5fc660a6c7b6e55661.jpg"
                        class="profile-image-img" alt="imagem">
                </div>

                <div class="phofile-description">
                    <p>Aluno do Admiinstrador</p>
                    <p>Administrador.com.br</p>
                </div>
            </div>

            <div class="container">

                <div class="row mt-4">
                    <span class="label">Nome Completo</span>
                    <input type="text" class="form-input" placeholder="Aluno do administrador">
                </div>

                <div class="row mt-3">
                    <span class="label">Email</span>
                    <input type="text" class="form-input" placeholder="adm@gmail.com.br">
                </div>

                <div class="row mt-3">
                    <span class="label">Provas realizadas</span>
                    <input type="text" class="form-input" placeholder="Portugues, Matematica e etc...">
                </div>

                <div class="row mt-3">

                    <div class="btns">

                        <div class="btn-submit">
                            <button (click)="closeModal()">
                                <span>Fechar</span>
                            </button>

                            <button (click)="routerHistorioAluno()">
                                <span>Histórico</span>
                            </button>
                        </div>

                    </div>

                </div>

            </div>
        </div>


    </p-dialog>
</div>