.title {
    h4 {
        color: var(--text-color);
    }
}

#btn-menu {
    border: none;
    outline: none;
    height: auto;
    width: 40px;
    padding: 10px;

    display: flex;
    align-items: center;
    background: transparent;

    span {
        font-size: 12pt;
        font-weight: 600;
    }
}

#input-container {
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 50%;
    height: auto;
    width: 300px;
}

.card p-dialog .card-placeholder {
    width: 100%;
    padding: 1rem;
    text-align: center;
    border-radius: .8rem;
    background-color: white;

    .card__skeleton {
        background-image: linear-gradient(90deg,
                #ccc 0px,
                rgb(229 229 229 / 90%) 40px,
                #ccc 80px);
        background-size: 300%;
        background-position: 100% 0;
        border-radius: inherit;
        animation: shimmer 1.5s infinite;
    }

    .card__title {
        height: 20px;
        margin-bottom: 15px;
    }

    .card__photo {
        height: 100px;
        border-radius: 50%;
        width: 100px;
        margin-bottom: 15px;
    }


    .card__description {
        height: 20px;
    }

    @keyframes shimmer {
        to {
            background-position: -100% 0;
        }
    }

}

.card {
    border: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.055);
}

.card p-dialog {

    .header-phofile {
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;


        .photo {

            height: 140px;
            width: 140px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: var(--segundary);

            img {
                height: 130px;
                width: 130px;
                border-radius: 50%;
            }
        }

        .phofile-description {

            line-height: 10px;
            margin-left: 2rem;

            p:nth-of-type(1) {
                font-weight: 500;
                color: var(--text-color);
                font-size: 20pt;
            }

            p:nth-of-type(2) {
                font-weight: 500;
                color: var(--text-color-primary);
                font-size: 11pt;
            }
        }


    }

    .container .row {

        .input-complte {

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .label {
            margin-bottom: 5px;
            font-size: 10pt;
            font-weight: 500;
        }

        .form-input {
            height: auto;
            width: 100%;
            padding: 0.50rem;
            border-radius: 5px;
            outline: none;
            background: var(--background-secundary);
            border: 1px solid var(--text-color-primary);
            color: var(--text-color-primary);
            font-size: 11pt;

            &::placeholder {
                color: var(--text-color-primary);

            }
        }

        .btns {
            height: auto;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .btn-submit {
                button:nth-of-type(2) {
                    outline: none;
                    height: auto;
                    width: auto;
                    padding: 0.50rem 1.90rem;
                    border-radius: 5px;
                    border: 1px solid var(--primary);
                    background: var(--primary);
                    transition: all 0.3s ease;

                    span {
                        font-size: 11pt;
                        font-weight: 500;
                        color: var(--background-secundary);
                    }
                }

                button:nth-of-type(1) {
                    height: auto;
                    width: auto;
                    padding: 0.50rem 1.90rem;
                    border-radius: 5px;
                    border: none;
                    background: transparent;
                    transition: all 0.3s ease;

                    span {
                        font-size: 11pt;
                        font-weight: 500;
                        color: var(--text-color-primary);
                    }
                }


            }

        }

    }
}

table {
    height: auto;
    width: 100%;

    th {
        background: var(--background-primary);
        font-size: 11pt;
        color: var(--text-blue-dark);
    }

    td {
        font-size: 11pt;
        font-weight: 400;
        color: var(--text-blue-dark);
    }

}

.card #input-container .input-filter {
    padding: 1rem;
    border-radius: 50px;
    height: auto;
    width: 300px;
    background: var(--background-primary);
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;

    i {
        font-size: 11pt;
        color: var(--text-color);
    }

    input {
        color: var(--text-color);
        font-size: 11pt;
        outline: none;
        border: none;
        background: transparent;
        height: 25px;
        width: 100%;
    }
}