<div class="title">
    <h4>Modúlos / Tema</h4>
</div>

<div class="row">
    <input type="file" (change)="ReadExcel($event)">
</div>

<form id="myForm" class="mt-5">
    <div class="container">

        <div class="row">
            <span class="label">Modúlo</span>
            <input type="text" class="form-input">
        </div>

        <div class="row mt-3">
            <span class="label">Tema</span>

            <div class="force-to-the-bottom">
                <tag-input [(ngModel)]="values" [placeholder]="'+ Adicionar tema'" [editable]='true'
                    [ngModelOptions]="{ standalone: true }" [secondaryPlaceholder]="''" theme='dark'></tag-input>
            </div>

        </div>


        <div class="row mt-5">

            <div class="btns">

                <div class="btn-submit">
                    <button>
                        <span>Cancelar</span>
                    </button>

                    <button>
                        <span>Salvar</span>
                    </button>
                </div>

            </div>

        </div>

    </div>

</form>

{{ ExcelData | json }}