<div class="sidebar">

    <div class="logo_details">
      <i class="fa-solid fa-bars" id="btn"  style="font-size: 20px;" (click)="Open()"></i>
    </div>

    <div class="title-sidenav">
      <h2>Painel</h2>
    </div>

    <ul class="nav-list">

      <li *ngFor="let item of navData">
        <a routerLink="{{ item.routerLink }}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="{{ item.icon }}" style="font-size: 20px;"></i>
          <span class="link_name">{{ item.routerName }}</span>
        </a>
        <span class="tooltip">{{ item.tooltip }}</span>
      </li>

    </ul>

</div>
