<div class="sidebar">

  <div class="logo_details">
    <i class="fa-solid fa-bars" id="btn" style="font-size: 20px;" (click)="Open()"></i>
  </div>

  <div class="title-sidenav">
    <h2>Painel</h2>
  </div>

  <ul class="nav-list">

    <li *ngFor="let item of navData">
      <a *ngIf="item.routerName !== 'Histórico'" routerLink="{{ item.routerLink }}" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <i class="{{ item.icon }}" style="font-size: 20px;"></i>
        <span class="link_name">{{ item.routerName }}</span>
      </a>

      <div *ngIf="item.routerName === 'Histórico'" class="historic">

        <div class="dropdown-title">
          <a (click)="Open()">
            <i class="{{ item.icon }}" style="font-size: 20px;" ></i>
            <span class="link_name">{{ item.routerName }}</span>
          </a>

          <div class="icon-dropdown" (click)="showListDropdown()">
            <i class="fa-solid fa-chevron-down" id="icon-arrow"></i>
          </div>

        </div>

        <ul *ngIf="showDropdown" class="dropdown">
          <li>
            <a routerLink="/provas-realizadas">Provas Realizadas</a>
            <a routerLink="/simulados-realizados">Simulados Realizados</a>
          <li>
        </ul>
      </div>

      <span class="tooltip">{{ item.tooltip }}</span>
    </li>

  </ul>

</div>